.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.side-nav{
  position:fixed;
  height: 100vh;
  min-width: 3%;
  left: 0;
  border-radius:0;
  z-index: 1000;
  transition: all 1s ease-in;
}
.side-nav:hover{
  width: 5%;
  transition: all 1s ease-in;
}
.wrapper {
  width: 600px;
  height: 400px;
  overflow-x: scroll;
}
.chartWrapper {
  width: 6000px;
}

.icon-div{
  height: 70px;
  left: 0;
  position: relative;
  border-radius: 3px;

}
.icon-div:hover{
  border-left: 5px solid #4b0dba;
  color: #4b0dba !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.main-chart{
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 2000px) {
  .main-div{
    width: 100% !important;
  }
  .charts-div{
    width: 100% !important;
  display: block !important;
  }
  .main-chart{
    display: block !important;
  }
}
